html {
  font-size: 18px;
}

body {
  background-color: $black;
  background-image: url("/images/bg.png");
  background-repeat: repeat;
  min-height: 100vh;
  position: relative;
}

.content {
  padding: 40px 0;
  @media all and (max-width: 550px) {
    padding-top: 0;
  }
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  @media all and (max-width: 920px) {
    margin: 0 30px;
  }
}