.user-forms {
  position: absolute;
  width: 100%;
  z-index: 100;
  display: none;
  // display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  background-color: rgba(0,0,0,0.8);
  top: 0;
  min-height: 100vh;
  &.visib {
    display: grid;
  }
  .user-form {
    display: none;
    background: $white;
    color: $black;
    padding: 10px;
    border-radius: 10px;
    width: 450px;
    .user-form-top {
      display: table;
      width: 100%;
      margin-bottom: 20px;
      .form-title {
        margin: 0;
        display: table;
        float: left;
      }
      .close-form {
        margin: 0;
        display: table;
        float: right;
        cursor: pointer;
        &:hover {
          opacity: 0.5;
        }
      }
    }
    &.visib {
      display: block;
    }
  }
}