.results {
  padding: 0;
  margin: 0;
}

.place {
  list-style: none;
  border: 1px solid $yellow;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 10px;
  align-items: center;
  margin: 0 0 15px;
  .text {
    h3 {
      margin-top: 0;
    }
    p {
      margin-bottom: 0;
    }
    .tag {
      background: #f00;
      padding: 3px 7px 0;
      border-radius: 5px;
      line-height: 1;
    }
  }
  .user {
    form.going-form {
      &.going-confirmed {
        button {
          background-color: #f00;
        }
      }
    }
  }
}