h1 {
  color: #ccc;
  .place-title {
    text-transform: capitalize;
    color: $white;
  }
}
.results {
  padding: 0;
  margin: 0;
}

.place {
  list-style: none;
  border: none;
  padding: 20px 10px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 15px;
  align-items: center;
  margin: 0;
  background: rgba(45,45,35,0.7);
  @media all and (max-width: 750px) {
    grid-template-columns: 1fr 3fr
  }
  &:nth-child(even) {
    background-color: rgba(60,60,50,0.7);
  }
  .text {
    h3 {
      margin-top: 0;
      margin-bottom: 10px;
      a {
        color: $white;
        font-size: 36px;
        &:hover {
          color: $yellow;
        }
      }
    }
    p {
      color: $grey;
      margin-bottom: 5px;
      font-size: 14px;
    }
    .tag {
      background: $grey;
      color: $black;
      padding: 1px 5px 0;
      line-height: 1;
    }
  }
  .user {
    @media all and (max-width: 750px) {
      grid-column: span 2;
    }
    form.going-form {
      button {
        margin: 0;
        width: 100%;
      }
      p.notgoing-text, p.going-text {
        font-weight: 700;
        text-transform: uppercase;
      }
      p.going-text {
          display: inline-block;
      }
      p.notgoing-text {
        display: none;
      }
      p.going-total {
        color: #4a4a4c;
        margin-top: 5px;
        @media all and (max-width: 750px) {
          display: inline-block;
          margin-left: 15px;
        }
      }
      &.going-confirmed {
        p.notgoing-text {
          display: inline-block;
        }
        p.going-text {
          display: none;
        }
        button {
          background-color: $white;
          &:hover {
            background-color: #aaa;
          }
        }
      }
    }
  }
}

.search-again {
  margin-top: 40px;
  background-color: $white;
  text-transform: uppercase;
}